*{
    box-sizing: border-box;
}

body{
    margin-top: 100px;
    padding-bottom: 85px;
    background-color: #E5E5E5;
    font-family: Roboto;
}

header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 75px;
}

header .icone ion-icon{
    font-size: 42px;
    
}

main{
    width: 100%;
}

.mensagem p {
}

.mensagem{
    margin: 2px 0;
    padding: 10px 0;
    padding-left: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.mensagem.message{
    background-color: #fff;
}

.mensagem.private_message{
    background-color: #FFDEDE;
}

.mensagem.status{
    background-color: #DCDCDC;
}

.mensagem .from{
    font-weight: bold;
}

.mensagem .time{

    font-weight: thin;
    color: #9d9d9d;
}

.mensagem .text{
    color: black;
}

footer{
    position: fixed;
    z-index: 1;
    bottom: 0px;
    
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

}

footer .input{
    width: 80%;
    height:50px;
}

footer .input input {
    width: 100%;
    height:50px;
    margin-left:5px ;
    border: none;
    outline: none;
}

footer .enviar ion-icon{
    font-size: 26px;
    margin-right: 20px;
}

footer ::-webkit-input-placeholder { 
    color: black;
    font-style: italic;
  }
  
footer :-ms-input-placeholder { 
    color: black;
    font-style: italic;
}
  
footer ::placeholder {
    color: black;
    font-style: italic;
}

.tela-de-entrada{
    width: 100%;
    height:100%;
    
    background-color: white;
    
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0;
}

.logo-entrada{
    margin: 90px auto 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-usuario{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 300px 0;
}

.info-usuario input{
    width: 60%;
    height: 55px;
    border: 1px solid #D7D7D7;
    /* border-color: #AEAEAE; */
    border-radius: 5px;
    text-align: center;

    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.info-usuario button{
    width: 110px;
    height: 55px;
    border-radius: 5px;
    color: #696969;
    border: none;
    background-color: #E7E7E7;

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}

.info-usuario .loading-img{
    background-color: #fff;
    width: 100px;
}

.info-usuario .entrando{
    font-weight: bold;
}

.hidden{
    display: none;
}

.participants{
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

.titulo-contato{
    height: 80px;
    padding: 40px;
    margin-bottom: 5px;

}

.titulo-contato p{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.participants-online{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.participant-li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    padding: 10px;
}

.participant-li ion-icon{
    font-size: 26px;
}

.titulo-visibility{
    height: 80px;
    padding: 40px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.visibility-li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    padding: 10px;
}

.visibility-li ion-icon{
    font-size: 24px;
}

.checkmark{
    color: green;
    font-size: 15px;
    --ionicon-stroke-width: 120px;
    margin-left: 20px;
    display: none;
}

.checkmark.selected{
    display: flex;
}

.close{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close img{
    width: 40px;
}

.opacity{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.843);
}